.border-grey {
    width: 600px;
    background-color: grey;
    padding: 10px;
    margin: 100px auto;
}
.block-white {
    background-color: white;
    border-radius: 10px;
    display: flex;
    padding: 15px;
}
.block {
    border-right: 1px solid lightgrey;
    text-align: center;
    width: 33.3%;
}
.block:last-child {
    border-right: none;
}
.img-hosting {
    background-image: url(images/hosting.png);
    width: 61px;
    height: 42px;
    margin: 0 auto;
    font-family: Roboto;
    src: url(fonts/RobotoBold/RobotoBold.ttf); /* Путь к файлу со шрифтом */
}
.pic1 {
    background-position:  0 0;
}
.pic2 {
    background-position: 0 -42px;
}
.pic3 {
    background-position: 0 -84px;
}
.hosting-name {
    color: orange;
    padding: 10px;
}
.info {
    color: white;
    background-color: orange;
    padding: 5px;
    text-decoration: none;
}
.price {
    margin-top: 10px;
    margin-bottom: 20px;
}

